<div id="news_area">
  <div class="panel panel-primary">
    <div class="panel-heading">company name</div>
    <div class="panel-body">update repositories</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">company name</div>
    <div class="panel-body">update repositories</div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">company name</div>
    <div class="panel-body">update repositories</div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">company name</div>
    <div class="panel-body">update repositories</div>
  </div>
</div>
