DB_USERNAME:
DB_PASSWORD:
DB_SOCKET:
DB_GITCONNECT_DEVELOPMENT:
DB_GITCONNECT_TEST:
DB_GITCONNECT_PRODUCTION:

GITHUB_CLIENT_ID:
GITHUB_CLIENT_SECRET:

TRUSTED_IP:

CLIENT_INTERFIRM_EMAIL:
CLIENT_INTERFIRM_PASSWORD: