<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <%= link_to "Gitconnect", clients_statics_path, class: "navbar-brand" %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "ユーザ検索", search_clients_users_path  %></li>
        <li><%= link_to "Link2", "/path2"  %></li>
        <li><%= link_to "設定", edit_clients_setting_path(current_client)  %></li>
      </ul>
    </div>
  </div>
</div>
